/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. tipografia
4. visuales
5. otros */

:root {
    /*Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffff;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
  }

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  }

  header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
  }

  .header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
  }

  .header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
  }

  .header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
  }

  .header--title-container .header--button {
    text-decoration: none;
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);

  }

  .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/mdi_keyboard_arrow_down.svg");
    background-position: center;
  }

  /*Main */

  main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
  }

  .main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
  }

  .main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-exchange-container--tittle {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
  }

  .main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    color: var(--black);
    font-weight: bold;
    line-height: 2.6rem;
  }
    
  
  .main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: 500;
    line-height: 1.6rem;
  }

  .main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
  }

.main-currency-table .currency-table--tittle {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  text-align: left;
}

.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table--container .table_top-left {
  border-radius: 15px 0 0 0;
}

.currency-table--container .table_top-right {
  border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('/assets/trending-down\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('/assets/trending-up\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date {
  width: 190px;
  height: 30px;
  align-items: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-black);
}

/* Secci칩n 2, tarjetas con beneficios */

.main-product-detail {
  position: relative;
  background-color: var(--warm-black);
  height: auto;
  width: 100%;
  min-width: 320px;
  padding: 20px 10px;
}
.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("/assets/Group 16.svg");
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  color: var(--just-white);
  font-weight: 700;
  line-height: 2.6rem;
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: var(--grey);
  font-weight: 500;
  line-height: 1.8rem;
}

.product-detail--card {
  width: 90%;
  min-height: 150px;
  min-width: 288px;
  max-width: 800px;
  /* text-align: left; */
  background-color: var(--black);
  margin: 16px auto;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 16);

}

.product--card-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 10px;
  padding-top: 35px;
}

.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--grey);

}

.clock {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/clock\ 1.png");
}
.eye {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/eye\ 1.png");
}
.money {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/dollar-sign\ 1.png");
}
.check {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/check-circle\ 1.png");
}

/* Secci칩n BITCOIN, imagen naranja */

.bitcoin-img-container {
  width: 100%;
  height: 50vh;
  min-width: 320px;
  background-image: url("/assets/bitcoinbaby\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 64px;
}

/* Secci칩n de planes */

.main-plans-container {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  min-width: 320px;
  padding: 30px 15px;
}
.plans--tittle {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}

.plans--tittle h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  color: var(--warm-black);
  font-weight: 700;
  line-height: 2.6rem;
}
.plans--tittle p {
  padding-top: 30px;
  font-size: 1.4rem;
  color: var(--grey);
  font-weight: 500;
  line-height: 1.8rem;
}

/* Contendor de tarjeta de slide */

.plans-container--slider {
  display: flex;
  height: 366px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  height: 250px;
  text-align: center;
  min-width: 190px;
  background-color: var(--just-white);
  /* margin: 0px 20px; */
  min-height: 300px;
  max-width: 300px;
  margin: 50px 5px 0;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 8px;
  top: -15px;
  left: calc(50% - 60px);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--just-white);
  text-align: center;
}

.plan-card--title { /*tarjeta 1*/
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 500;
  line-height: 1.8rem;
}
.plan-card--price {
  margin-bottom: 5px;
  font-size: 5.2rem;
  color: #000000;
  font-weight: 700;
  line-height: 6.3rem;
}
.plan-card--price span {
  position: absolute;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 300;
  margin: -10px -10px;
}

.plan-card--saving {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #757575;
  font-weight: 500;
  line-height: 1.4rem;
}

.plan-card-ca {
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 48px;
  margin-top: 30px;
  padding: 10px 10px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--warm-black);
  left: calc(50% - 70px);
  font-family: 'DM Sans', sans-serif;
}

.plan-card-ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/arrow-right\ 1.png");
  background-position: right;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

/* Pie de p치gina */

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

}

footer.left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
  list-style: none;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}









  